@import './theme.css';
@import './layout.css';

html {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 2em;
    min-width: 320px;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

p {
    font-size: var(--text-font-size);
}

a {
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: transform .25s;
}
a:hover {
    transform: scale(1.05);
}

h1 {
    text-align: center;
    margin: 0;
}
