@import './theme.css';
@import './layout.css';

html {
    font-family: Verdana, Arial, system-ui, Avenir, Helvetica, sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 2em;
    min-width: 320px;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

p {
    font-size: var(--text-font-size);
}

a {
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: transform .25s;
}
a:hover {
    transform: scale(1.05);
}

h1 {
    text-align: center;
    margin: 1em 0 3em 0;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 4em;
}

h2 {
    font-family: monospace;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    padding: .5em;
    border-radius: calc(2.5rem + 1em);
}
