.main {
    padding: 4em 0;
}

.navbarContainer {
    position: sticky;
    top: 2em;
    z-index: 100;

    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    align-items: center;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    width: fit-content;
    height: 1em;
    justify-content: center;
}

.navLink {
    position: relative;
    font-size: .75em;
    color: var(--text-color), .5;
    padding: .75em 1.5em;
    border-radius: 1.5em;
    text-decoration: none;
    transition: all .25s ease;
}

.navLink:hover {
    transform: scale(1.05);
}

.navLink.active {
    font-weight: bold;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.navIconPlaceholder {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}