.main {
    padding: 4em 0;
}

.navbarContainer {
    position: sticky;
    top: 2em;
    z-index: 100;

    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    align-items: center;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    width: fit-content;
    height: 1em;
    justify-content: center;
}

.navLink {
    position: relative;
    font-size: .75em;
    color: var(--text-color), .5;
    padding: .75em 1.5em;
    border-radius: 1.5em;
    text-decoration: none;
    text-align: center;
    transition: all .25s ease;
}
.navLink::before {
    display: block;
    font-weight: bold;
    visibility: hidden;
    content: attr(data-content);
    height: 0;
}
.navLink::after {
    content: attr(data-content);
    font-weight: normal;
}

.navLink:hover {
    transform: scale(1.05);
}

.navLink.active::after {
    font-weight: bold;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    width: 3rem;
    height: 3rem;
    overflow: visible;
}
.logo {
    position: absolute;
    top: 0;
    left: -45vw;
}

.navIconPlaceholder {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.rndBtn.modeBtn {
    color: var(--text-color);
    position: absolute;
    top: -.5em;
    right: -.5em;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.iconAnim {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease, opacity .3s ease;
    will-change: transform, opacity;
}
.iconAnim.idle {
    transform: scale(1);
    opacity: 1;
}
.iconAnim.out {
    transform: scale(0);
    opacity: 0;
}
.iconAnim.in {
    transform: scale(1);
    opacity: 1;
}