:root {
    --text-font-size: 1.2rem;

    color-scheme: light;
    --text-color: black;
    --glass-bg: #ffffff99;
    --glass-shadow: #00000035;
    --glass-inset-shadow-corner: #ffffffb3;
    --bg-color: #F5F5F5; /* linear-gradient(to top, var(--blue) 0%, white 100%) */
    --bg-el: #D3D3D3;
    --blue_main: #A8C4EC;
    --blue_opp: #00316E;
    --blue_analoug: #AEA8EC;
    --accent-color_1: #5379AE;
    --accent-color_2: #0474C4;
    --orange: #F59E0B; /* #FFDBB0 */
}

.dark {
    color-scheme: dark;
    --text-color: white;
    --glass-bg: #39393999;
    --glass-shadow: #53535365;
    --glass-inset-shadow-corner: #393939b3;
    --bg-color: #1C1C1E; /* linear-gradient(to top, var(--blue) 0%, black 100%) */
    --bg-el: #A9A9A9;
    --blue_main: #00316E;
    --blue_opp: #A8C4EC;
    --blue_analoug: #00686E;
    --accent-color_1: #06457F;
    --accent-color_2: #2C444C;
    --orange: #FF6F61; /* #4E3A02 */
}